.page {
    display: flex;
    flex-direction: column;

}

.aboutAuthor {
    width: 75%;
    display: flex;

    background-color: #FCF6EC;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10% auto;
    position: relative;
}

.author-image {
    height: 200px;
    width: auto;
    margin-right: 40px;
    margin-top: 20px;
    border: 2px solid black;
}

.bookView {
    width: 55%;
    margin: 0 auto;
    position: relative;
    /*display: flex;*/
    /*align-items: flex-start;*/
    background-color: #FCF6EC;
    padding: 20px;
    border: 1px solid #ccc;
    top: 100px;
    left: 0;
    right: 0;
    transition: height 2s;
}

.coverContent {
    display: flex;
    align-items: flex-start;
}

.cover-image {
    width: 370px;
    height: auto;
    margin-right: 40px;
    border: 2px solid black;
}

.summaryContainer {
    position: relative;
    overflow: hidden;
    transition: max-height 2s ease; /* Add a smooth transition effect */
}

.button {
    display: block; /* Ensures the button is a block-level element */
    margin-top: 8px; /* Adds some space above the button */
    background: none;
    color: blue;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline; /* Makes it look more like a link than a button */
}