.header {
  background-color: #660000; /* Your garnet color */
  color: white; /* Text color for links */
  padding: 0px 20px; /* Adjust padding as needed */
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
}


.header nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.header nav ul li {
  font-size: 18px;
}

.header nav ul li a {
  text-decoration: none;
  color: inherit;
}

.header nav ul li a:hover {
  text-decoration: underline;
}